header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-300);
}

.homeLogo {
    width: 40px;
    height: 40px;
}

.mobileMenu {
    line-height: 0;
}

.mobileMenu .hamburger,
.mobileMenu .closeMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
}

.mobileMenu .hamburger img {
    width: 24px;
    height: 21px;
}

.mobileMenu .closeMenu img {
    height: 21px;
}

.mobileMenu .mobileMenuItems {
    width: 254px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(80px);
    z-index: 1;
    padding-left: var(--spacing-400);
}

.mobileMenu .closeMenu {
    text-align: right;
    padding: var(--spacing-400) var(--spacing-300) var(--spacing-400) 0;
}

.mobileMenu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
    line-height: normal;
    margin-bottom: var(--spacing-400);
}

.mobileMenu a.active {
    border-right: 3px solid var(--white);
    color: var(--white);
}

.mobileMenu a > span {
    font-weight: bold;
    width: 15px;
}